{% extends "base.html" %}

{% block content %}
    <h1>New Blog Post</h1>
    <form action="/" form method='post'>
        <label>
            Title:
            <br>
            <input type="text" name= 'title' method="post" value='{{request.form['title']}}'/>
            <span class="error" style="color:red">{{title_error}}</span>
        </label>
        <br>
        <label>
            Type your content here: 
            <br>
            <input type="text" name= 'body' method="post" style="height: 300px; width:300px; margin:10px 0; padding: 10px; border-radius: 10px;" value='{{request.form['body']}}'/>
            <span class="error" style="color:red;">{{body_error}}</span>
        </label>
        <br>
        <input type="submit" value='Submit' />
    </form>

{% endblock %}