{% extends "base.html" %}

{% block content %}

    <h1>New Blog Post</h1>
    <form action="/newpost" form method='POST'>
        <label for="title">
            Title:
            <br>
            <input type="text"  name= "title" id="title"  value=""/>
            <span class="error">{{title_error}}</span>
        </label>
        <br>
        <label for="title">
            Type your content here: 
            <br>
            <textarea name = body></textarea>
            <span class="error">{{body_error}}</span>
        </label>
        <br>
        <input type="submit" value='Submit Post' />
    </form>

{% endblock %}